<% if @model == 'user' %>
    <h3>Users search for "<%= @content %>"</h3>
  <%= render 'public/users/index', users: @records %>
<% elsif @model == 'muscle' %>
    <h3>Posts search for "<%= @content %>"</h3>
  <%= render partial: 'public/muscles/index', locals: { muscles: @records } %>
<% end %>